# unpacked plugin folders
plugingygygykyjhrntgfthfnrjmyhgys/**/*

# drjrfmgffjgyjnfles

# DBMig3yrate plugin: generated SQL
db/sqljdrjdrrtj5hrtjy34h5rt4y3hrt
# AssetBunmyjftmyjfmler plugin: generated bundles
javascripts/bundles
stylesheets/ndr
